@font-face {
    font-family: 'Plain-Light';
    src: url('../../font/plain-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Plain-Regular';
    src: url('../../font/plain-regular-webfont.ttf') format('truetype');

}

@font-face {
    font-family: 'Silk Serif';
    src: url('../../font/silkserif-regularitalic-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Silk Serif Light Italic';
    src: url('../../font/silkserif-lightitalic-webfont.ttf') format('truetype');
}

/* General */

:root {
    --loader-colour: #030303;
    --main-colour: #151515;
    --text-colour: #ffffff;
    --font-base: 'Plain-Regular', Arial, sans-serif;
    --font-light: 'Plain-Light', Arial, sans-serif;
    --font-silk: 'Silk Serif', serif;
    --font-silk-light: 'Silk Serif Light Italic', serif;
    --page-colour: #151515;
    --blue-container: #3f7df4;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    color: var(--text-colour);
    background-color: var(--main-colour);
    font-family: var(--font-base);
}

/* General ended */

/* cursor started here  */
#following-cursor {
    position: fixed;
    height: 2.2vw;
    width: 2.2vw;
    border-radius: 50%;
    border: 1px solid var(--text-colour);
    /* background-color: var(--text-colour); */
    pointer-events: none;
    z-index: 5;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    mix-blend-mode: hard-light;
}

/* cursor ended here */


/* Loader started */
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: var(--loader-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 10%;

}

.line {
    /* background-color: orange;
    border: 1px solid pink; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4vw;
}

.line h1 {
    font-size: 6.5vw;
    font-weight: 600;
    font-family: 'Plain-Light', sans-serif;
}

#line1-part1 {
    display: flex;
    opacity: 0;
    /* gap: 1vw; */
}

#line1-part1 h5 {
    width: 5vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: 'Silk Serif';
}

.line h2 {
    font-size: 4.5vw;
    font-weight: 100;
    font-family: 'Plain-Light', sans-serif;
    opacity: 0;
}

@keyframes loader-now {
    0% {
        opacity: 1;
        font-family: 'Plain-Light', sans-serif;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        color: white;
        font-weight: 500;
    }

    48% {
        opacity: 0;
        font-family: 'Plain-Light', sans-serif;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        color: white;
        font-weight: 500;
    }

    50% {
        opacity: 1;
        font-family: 'Silk Serif Light Italic', serif;
        color: transparent;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        font-weight: 500;
    }

    100% {
        opacity: 0;
        font-family: 'Silk Serif Light Italic', serif;
        color: transparent;
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        font-weight: 500;
    }
}


/* Loader Ended */


/* Main started */

/* page 1 started here */
#page1 {
    height: 100vh;
    width: 100%;
    background-color: var(--page-colour);
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.2vw 5vw;
}

#nav-logos {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

#nav-links {
    display: flex;
    gap: 3vw;
}

#nav-links h5 {
    font-size: 0.8vw;
    font-weight: 200;
    font-family: 'Plain-Light', serif;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#hero-main {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    top: 38%;
    left: 27%;
    transform: translateY(-30%);
}

#hero-main div {
    width: 100%;
}

#hero-main h1 {
    font-size: 7.5vw;
    font-weight: 600;
    font-family: 'Plain-Light', serif;
    text-transform: uppercase;
    line-height: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#hero-main div:nth-child(1) h1:nth-child(1)::before {
    content: '01';
    position: absolute;
    left: -10%;
    font-size: 3vw;
    font-weight: 50;
    font-family: 'Silk Serif', serif;
}

#hero-main h1:nth-child(3) {
    width: fit-content;
}

.highlightstroke {
    display: inline-block;
    border-bottom: 0.5vw solid currentColor;
    cursor: pointer;
}

.highlightstroke:hover {
    color: transparent;
    -webkit-text-stroke: 0.1px white;
    font-weight: 600;
}

/* page 1 ended here */

/* page 2 started here */

#page2 {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#video-container {
    height: 66vh;
    width: 71vw;
    padding-right: 1vw;
    position: relative;
}

#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 10;
}

#video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../../assets/image/mainimage.png') no-repeat center center;
    background-size: cover;
    z-index: 15;
}

#video-play-btn {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 20;
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 50%;
    background-color: #ffa63d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#video-play-btn .material-symbols-outlined {
    font-size: 1.5vw;
    line-height: 1;
    color: #ffffff;
}

/* page 2 ended here */

/* page 3 started here  */

#page3 {
    min-height: 100vh;
    width: 100%;
    /* background-color: lightgray; */
}

/* page 3 ended here  */

/* page 4 started here  */

#page4 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: top;
    position: relative;
    /* background-color: cyan; */
}

#page4-content {
    /* height: 60vh; */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 6vw;
}

#page4-content div h1 {
    position: relative;
    font-size: 7.5vw;
    font-weight: 600;
    font-family: 'Plain-Light', serif;
    text-transform: uppercase;
    line-height: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
}

#page4-content div h1::before {
    content: '03';
    position: absolute;
    left: -10%;
    font-size: 3vw;
    font-weight: 50;
    font-family: 'Silk Serif', serif;
}

#page4-content .underline {
    display: inline-block;
    border-bottom: 1px solid white;
    cursor: pointer;
}

#page4-content .page4-para p {
    font-size: 2vw;
    font-weight: 500;
    font-family: 'Plain-Light', serif;
    line-height: 1.2;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 50%;
}

#page4-hero-container {
    width: 100%;
    margin-top: -8vh;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 1vw;
    position: relative;
}

#page4-hero-image-container {
    width: 50%;
    height: 90vh;
    background: url('../image/bookimage.avif');
    background-color: pink;
}

#page4-hero-para {
    width: 20%;
}

#page4-hero-para p {
    font-size: 0.9vw;
    font-family: var(--font-light);
    font-weight: 300;
    margin-bottom: 1vw;
}

#page4-blue-container {
    height: auto;
    min-height: 70vh;
    width: 50%;
    background-color: var(--blue-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translate(50%, -50%);
}

#page4-blue-container .blue-container-row {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 4vh;
}


#page4-blue-container .blue-container-row h5 {
    font-size: 1.4vw;
    font-weight: 200;
    width: 50%;
}

#page4-blue-container .blue-container-row p {
    font-size: 0.8vw;
    width: 40%;
}

#page4-hero-underline {
    display: inline-block;
    width: 100%;
    position: absolute;
    border-top: 1px solid white;
    cursor: pointer;
    top: 87%;
}

/* page 4 ended here  */

/* page 5 started here */
#page5 {
    min-height: 100vh;
    width: 100%;
}

#page5 div {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin-top: -2.2vw;
}

#page5 div h1 {
    font-size: 7vw;
    white-space: nowrap;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1px white;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-transform: uppercase;
    font-weight: 500;
}

#page5 .elem h1,
#page5 .elem2 h1 {
    font-family: 'Plain-Light', serif;
}

#page5 .elem h1 span,
#page5 .elem2 h1 span {
    font-family: 'Silk Serif Light Italic', serif;
}

.elem h1 {
    animation: elemanimeforward 15s linear infinite forwards;
}

.elem2 h1 {
    animation: elemanimebackward 18s linear infinite forwards;
}

@keyframes elemanimeforward {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes elemanimebackward {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}


/* page 5 ended here  */

/* footer started here */
#footer {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: top;
    position: relative;
    padding-bottom: 2.5vh;
    margin-top: -20vh;
}

#footer-content {
    /* height: 60vh; */
    width: 70%;
    display: flex;
    flex-direction: column;
}


#footer-content div {
    height: fit-content;
    margin-top: 10vh;
}

#footer-content div h1 {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1vw;
    font-size: 7.5vw;
    font-weight: 600;
    font-family: 'Plain-Light', serif;
    text-transform: uppercase;
    line-height: 1;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: fit-content;
}

#footer-content div h1 svg {
    display: inline-block;
    width: auto;
    height: 1em;
}

#footer-content div h1::before {
    content: '04';
    position: absolute;
    left: -10%;
    font-size: 3vw;
    font-weight: 50;
    font-family: 'Silk Serif', serif;
}

#footer-content .underline {
    display: inline-block;
    border-bottom: 1px solid white;
    cursor: pointer;
}

#social-address-sayhi {
    display: flex;
    justify-content: start;
    gap: 10vw;
    width: 100%;
    margin-top: 4vw;
}

#social-address-sayhi>div {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    width: 15%;
    margin: 0;
}

#social-address-sayhi>div>div {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#social-address-sayhi h5 {
    font-size: 1vw;
    font-weight: 200;
    font-family: 'Plain-Light', serif;
    text-transform: uppercase;
}

#social-address-sayhi h3 {
    font-size: 1.4vw;
    font-weight: 400;
    font-family: var(--font-base);
    line-height: 1.4;
    max-width: 22vw;
}

#social-address-sayhi h3:last-child {
    max-width: none;
}


#footer-content div h5 {
    font-size: 1vw;
    font-weight: 200;
    font-family: 'Plain-Light', serif;
    text-transform: uppercase;
    margin-bottom: 2vh;
}

/* footer ended here  */

/* Main ended */